//El archivo lleva el guión abajo porque le dice al preprocesador este no lo vas a compilar porque luego será reusado en otro archivo.

// Es mejor guardar colores y tipografías en una variable
// Declarando variables: En Sass se declara usando el signo de dolar
$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$color-primario: #333;
$color-claro: #fff;
$color-secundario: #8841da;
$color-variacion: #3f579a;

// Los mixins deben ir en este archivo
// Declarando mixins
@mixin caja {
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba($color: $color-primario, $alpha: 0.50);
  color: $color-primario;
  background-color: $color-claro;
}

// Mixin con condicional
@mixin titulos($fuente) {
  font-family: $fuente;
   @if $fuente == $Fuente2 {
        text-transform: uppercase;
   } 
}

// Los funciones y los mixins son parcecidos. La diferencia es que los mixins aplican los estilos tal y como fue seteado, pero en el caso de las funciones puedes setearlas para que ingreses los valores según los necesites.
// Declarando funciones
@function get-opacity($color, $nivel) {
  @return rgba($color, $nivel);
}

// Loops: no es necesario llamarlos. Con esto es suficiente
@each $header, $size in (h1: 30px, h2: 25px, h3: 20px) {
  #{$header} {
    font-size: $size;
    margin: 0;
  }
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	@include titulos($Fuente1)
}

main {
	display: flex;
	width: 100%;
	height: 100%;
}
